/* .SingleColorPalette .ColorBox {
  height: 50%;
} */
/* .go-back {
    background-color: #000;
    position: relative;
} */
/* 
.copy-button, .back-button {
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  transition: 0.5s;
  text-decoration: none;
} */